[submodule "Samp/almeval/models/kimi_audio/kimia_infer/models/tokenizer/glm4"]
	path = Samp/almeval/models/kimi_audio/kimia_infer/models/tokenizer/glm4
	url = https://github.com/THUDM/GLM-4-Voice.git
